/*========================= Libs =========================*/
@import "libs/bootstrap-reboot.min";
@import "libs/nullstyle";
@import "libs/fonts";
/*========================= Base =========================*/
@import "base/variables";
@import "base/mixins";
/*========================= Start =========================*/
* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	// outline: solid red;
	// overflow-x: hidden;
	a {
		color: #fff;
	}
	ul, ol, li, p, h1, h2, h3 {
		margin: 0;
		padding: 0;
	}
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
}
/*========================= Blocks =========================*/
@import "blocks/button";
@import "blocks/title";

@import "blocks/promo";
@import "blocks/advantage";
@import "blocks/work";
@import "blocks/agent";
@import "blocks/price";
@import "blocks/managers";
@import "blocks/scheme";
@import "blocks/recalls";
@import "blocks/bid";
@import "blocks/map";
/*========================= Media =========================*/
@import "media/promo-media";
@import "media/advantage-media";
@import "media/work-media";
@import "media/agent-media";
@import "media/price-media";
@import "media/managers-media";
@import "media/scheme-media";
@import "media/recalls-media";
@import "media/bid-media";
@import "media/map-media";