.advantage {
	padding: 58px 0 50px;
	background-color: #e4e2e2;
	&__items {
		padding-top: 31px;
		display: grid;
		grid-template-columns: repeat(2, 500px);
		justify-content: space-between;
		row-gap: 25px;
	}
	&__item {
		position: relative;
		&-icon {
			position: absolute;
			top: 5px;
			left: 0;
		}
		&-title {
			margin-bottom: 5px;
			padding-left: 80px;
			font-size: 16px;
			line-height: 22px;
			font-weight: 700;
			color: #ec644b;
		}
		&-descr {
			padding-left: 80px;
			font-size: 14px;
			line-height: 22px;
			font-weight: 300;
			color: #3a3a3a;
		}
	}
}